{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <title>JCC's Blog</title>
      <h1 class="entry-title">
        <a href="single.html">{{ post.title }}</a>
      </h1>
      <!-- meta -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
 
      <!-- css -->
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

      <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
      <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
 
      <!-- js -->
      <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
      <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'blog/js/pace.min.js' %}"></script>
      <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
  </head>
  <body>
      <script src="{% static 'blog/js/script.js' %}"></script>
      {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
    ...
        </article>
      {% empty %}
        <div class="no-post">Do not have post right now！</div>
      {% endfor %}
      <div class="entry-meta">
        <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
        <span class="post-date"><a href="#"><time class="entry-date"
                                                  datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
        <span class="post-author"><a href="#">{{ post.author }}</a></span>
        <span class="comments-link"><a href="#">4 Comment</a></span>
        <span class="views-count"><a href="#">588 Read</a></span>
      </div>

      <div class="entry-content clearfix">
        <p>{{ post.excerpt }}</p>
        <div class="read-more cl-effect-14">
          <a href="#" class="more-link">Continue <span class="meta-nav">→</span></a>
        </div>
      </div>

  </body>
</html>